[Desktop Entry]
Version=1.0
Name=GeForce NOW XP
Comment=GeForce NOW Cloud Gaming
Exec=GeForceNOW-XP
Icon=icon
Terminal=false
Type=Application
Categories=Game;
